doctype html
html(lang="es")
  head
    title Boilerplate sass es6 
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no, minimum-scale=1, maximum-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="css/styles.css")
  body
  
    block main
    script(src="js/scripts.js")
